/* import poppins font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* base style or utility section for the entire web page */
body{
    margin: 0px;
    padding: 0px;
    background-color:#F3F1FF;
    font-family: 'Poppins', sans-serif;;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header section styles */

/* style for the main navigation bar */
.navigation-bar{
    display: flex;
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    justify-content: space-between;
}

.logo-name{
    display: flex;
    align-items: center;
    margin-left: 27.5%;
}

.logo-name img{
    width: 40px;
    height: 51px;
    margin-right: 16px;
}

.logo-name p{
    font-size: 24px;
    color:white;
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-right: 27.6%;
}

.nav-menu{
    margin-right: 36px;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu li a{
    color: white;
    text-align: center;
    padding-left: 36px;
    text-decoration: none;
}

.nav-bar img{
    width: 51px;
    height: 51px;
}
/* navigation bar style ends here */

/* Styles for top players section */
.top-players{
    width: 870px;
    background-color: #FFFFFF;
    margin-top: 36px;
    border-radius: 5px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: normal;
    margin-top: 33px;
    margin-left: 33px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    margin-left: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.player .name{
    font-size: 18px;
    font-weight: normal;
}

.top-players hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-top: 30px;
}

@media only screen and (max-width: 688px){
    .navigation-bar{
        width: 100%;
        align-items: center;
    }
}